<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask about Vincent </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Flask about Vincent </h1>
    <h2>Vincent's hobbies</h2>
    <section class="home">
        <div class="img">
            <img src="static/John.jpg" alt="">
        </div>
    </section>
    <p>I am a student at Staten Island Technical High School. I am on the volleyball team and enjoy snowboarding. I indulge in Saratoga spring water and wash it off with a banana peel. I enjoy watching the drama of Tim Cheese and John Pork.</p>
    <a href="https://www.youtube.com" target="_blank">YouTube</a>

    <div class="things">
        {% for thing in things %}
            <div class="thing">
                <h2>{{ thing.title }}</h2>
                <p>{{ thing.description }}</p>
            </div>
        {% endfor %}
    </div>

  
</body>
</html>